.gradle/
.idea/
.kotlin/

note.md
local.properties
google-services.json

.DS_Store
.externalNativeBuild
.cxx
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.log
*.jks
*.keystore
*.hprof
*.iml

/captures

bin/
gen/
out/
captures/
build/

/app/release/

.cxx/
.navigation/
